# Logs
# /frontend/logs
# /frontend/*.log
# /frontend/npm-debug.log*
# /frontend/yarn-debug.log*
# /frontend/yarn-error.log*
# /frontend/pnpm-debug.log*
# /frontend/lerna-debug.log*

# /frontend/node_modules/

# /frontend/.DS_Store
# /frontend/dist
# /frontend/dist-ssr
# /frontend/coverage
# /frontend/*.local

# /frontend//cypress/videos/
# /frontend//cypress/screenshots/

# /frontend/.vscode/*
# !/frontend/.vscode/extensions.json
# /frontend/.idea
# /frontend/*.suo
# /frontend/*.ntvs*
# /frontend/*.njsproj
# /frontend/*.sln
# /frontend/*.sw?

/microservices/dummyService/bin/
/microservices/dummyService/obj/
/microservices/dummyService/.idea/
/microservices/dummyService/packages/
/microservices/dummyService/riderModule.iml
/microservices/dummyService/_ReSharper.Caches/

/microservices/webApiGateway/bin/
/microservices/webApiGateway/obj/
/microservices/webApiGateway/.idea/
/microservices/webApiGateway/packages/
/microservices/webApiGateway/riderModule.iml
/microservices/webApiGateway/_ReSharper.Caches/

/microservices/pySigma/__pycache__
/microservices/pySigma/.venv
/microservices/pySigma/.vscode

/microservices/sigmacService/__pycache__
/microservices/sigmacService/.venv
/microservices/sigmacService/.vscode